<%- include('../partial/header') %>

<div class="m-5 text-white">
    <%- include('../partial/location', {page: "Ajout"}) %>

    <div class="mt-3">
        <h1 class="text-3xl font-bold">Enregistrer un pokemon</h1>
        <form class="mt-2 p-2" action="/add" method="post">
            <div class="grid gap-6 mb-6 grid-cols-1">
                <div>
                    <label for="name" class="block mb-2 text-sm font-medium text-white">Nom</label>
                    <input type="text" id="name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Pikachu" required>
                </div>
                <div>
                    <label for="description" class="block mb-2 text-sm font-medium text-white">Description</label>
                    <input type="text" id="description" name="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Pokemon très étrange, curieux et joueur" required>
                </div>
                <div>
                    <label for="type" class="block mb-2 text-sm font-medium text-white">Type</label>
                    <select id="type" name="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option selected disabled>Choisissez un type</option>
                        <option>Feu</option>
                        <%- //types %>
                    </select>
                </div>
                <div>
                    <label for="ability" class="block mb-2 text-sm font-medium text-white">Capacité</label>
                    <select id="ability" name="ability" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option selected disabled>Choisissez une capacité</option>
                        <option>Ronflement</option>
                        <%- //types %>
                    </select>
                </div>
            </div>

            <button type="submit" class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-500 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Enregistrer</button>
        </form>
    </div>
</div>

<%- include('../partial/footer.ejs') %>